<h1>Detalle del Carrito</h1>
<header>
    <nav>
        <ul class="nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/products">Products</a>
            </li>
            <li>
                <a href="/realTimeProducts">Real Time Products</a>
            </li>
            <li>
                <a href="/chats">Chat</a>
            </li>
        </ul>
    </nav>
    <hr />
</header>
    <div>
        <h2>ID del Carrito: {{cart._id}}</h2>
        <div class="container">
            <ul>
                {{#each cart.products}}
                <div class="card">
                        <p>ID del producto: {{this.product._id}}</p>
                        <p>Título: {{this.product.title}}</p>
                        <p>Descripción: {{this.product.description}}</p>
                        <p>Precio: ${{this.product.price}}</p>
                        <p>Stock: {{this.product.stock}}</p>
                        <p>Categoría: {{this.product.category}}</p>
                        <p>Cantidad: {{this.quantity}}</p>
                </div>
                {{/each}}
            </ul>
        </div>
    </div>