<h1>Home Page</h1>
<header>
    <nav>
        <ul class="nav">
            <li>
                <a href="/products">Productos</a>
            </li>
            <li>
                <a href="/realTimeProducts">Real Time Products</a>
            </li>
            <li>
                <a href="/carts/663abad4c100e248d80f3373">Carrito</a>
            </li>
            <li>
                <a href="/chats">Chat</a>
            </li>
        </ul>
    </nav>
    <hr />
</header>
<hr>
<div class="container">
    {{#each productos}}
    <div class="card">
            <h3>{{title}}</h3>
            <img src="/uploads/{{thumbnail}}" alt="Thumbnail"></p>
            <p>Precio: ${{price}}</p>
            <p>Código: {{code}}</p>
            <p>Stock: {{stock}}</p>
            <p>Category: {{category}}</p>
            <p>Descripción:{{description}}</p>
            <p>Status: {{status}}</p>  
    </div>
    {{/each}}
</div>